services:
  postgres:
    image: postgres:14
    restart: on-failure
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/:/docker-entrypoint-initdb.d/
  keycloak:
    image: quay.io/keycloak/keycloak:22.0
    restart: on-failure
    command: ["start-dev"]
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_PROXY: edge
      KC_LOG_CONSOLE_COLOR: "true"
      KC_LOG_LEVEL: debug
      KC_DB: postgres
      KC_DB_USERNAME: ${POSTGRES_USER}
      KC_DB_PASSWORD: ${POSTGRES_PASSWORD}
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_URL_HOST: postgres
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
      PROXY_ADDRESS_FORWARDING: "true"
    ports:
      - 8080:8080
    depends_on:
      - postgres
  # A Docker networking update likely caused Keycloak to require HTTPS when
  # accessing from localhost while "Require SSL" was set to "External". This
  # container disables SSL requirements for all realms to work around this issue.
  keycloak_ssl_disable:
    image: quay.io/keycloak/keycloak:22.0
    restart: on-failure
    entrypoint: []
    command:
      - /bin/bash
      - -c
      - |
        set -xe
        sleep 10
        /opt/keycloak/bin/kcadm.sh config credentials \
          --server http://keycloak:8080 \
          --realm master \
          --user ${KEYCLOAK_ADMIN} \
          --password ${KEYCLOAK_ADMIN_PASSWORD}
        if /opt/keycloak/bin/kcadm.sh get realms/moderate > /dev/null 2>&1; then
          /opt/keycloak/bin/kcadm.sh update realms/moderate -s sslRequired=NONE
        fi
        /opt/keycloak/bin/kcadm.sh update realms/master -s sslRequired=NONE
    environment:
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    depends_on:
      - keycloak
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.17.13
    restart: on-failure
    environment:
      discovery.type: single-node
    ports:
      - 9200:9200
      - 9300:9300
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
volumes:
  postgres_data: {}
  elasticsearch_data: {}
